@font-face{
    font-family: Circular;

    /*Caso a fonte esteja na mesma pasta*/
    src: url("../fonts/Circular.ttf");
}


body{
    margin: 0px auto;
    padding: 0px auto;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}


.menu{
    min-height: 60px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 1px 1px 4px #dfdfdf; 
    font-size: 14px;  
}
.conteudo-menu{
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-menu{
    width: 115px;
}
.logo-menu img{
    width: 100%;
}
.caixa-pesquisa{
    max-width: 600px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #dfdfdf;
}
.cidade-filtro, .data-filtro, .qtd-hospedes-filtro{
    padding: 10px;
    display: flex;
    align-items: center;
}

.data-filtro{
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

.menu-opcoes{
    width: 300px;
    margin-right: 33px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: lighter;
}

.opcoes-linguagem, .opcoes-ajuda, .opcoes-cadastrar{
    padding-right: 15px;
    padding-left: 15px;
    height: 45px;   
    margin-right: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcoes-linguagem:hover, .opcoes-ajuda:hover{
    background-color: #f7f7f7;
}

.opcoes-cadastrar{
    border: 2px solid #dfdfdf;    
}
.opcoes-cadastrar:hover{
    box-shadow: 1px 2px 4px #dfdfdf;    
}



.modelo{    
    display: none;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exibe-acomodacao{
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.item-acomodacao{
    max-width: 280px;
    margin: 20px;
}

.item-acomodacao-foto{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.item-acomodacao-descricao{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-acomodacao-foto img{
    width: 100%;
}